<img class="home_img" src="/assets/img1.png" alt="Landing Page Image" />

<div class="home_wrap">
  <h1 class="home_text1">
    Baliuag University College of Information Technology Education
  </h1>
  <div class="home_wrapper">
    <img class="logo2" src="/assets/cite_logo1.png" alt="Cite Logo" />
    <div class="p1_home">
      <p class="home_p1">
        Every aspect of human life is touched by the continuously growing
        Information Technology (IT) landscape. Technology pervades everything
        that we do, be it learning in school, working in the office or at home,
        communicating with people, accessing entertainment media, or connecting
        with others through social media.
      </p>
      <p class="home_p1">
        Baliuag University College of Information Technology Education graduates
        find jobs in a wide range of technology-related careers such as:
        application and game development, web programming, network
        administration and security management, database administration, service
        management, software engineering, artificial intelligence, machine
        learning, and data science.
      </p>
      <p class="home_p1">
        Enroll in one of our IT programs and gain practical knowledge and
        critical thinking skills to become competent IT professionals. Our
        programs provide a good balance between theory and hands-on exploration
        of information technology and computing-related tools.
      </p>
    </div>
  </div>
  <div class="home_wrapper white_home">
    <div class="p1_home">
      <p class="home_p1">
        The pervasive influence of Information Technology (IT) extends into
        every facet of human existence. IT shapes our educational experiences,
        professional endeavors, and social interactions, bridging gaps between
        individuals and enabling seamless communication.
      </p>
      <p class="home_p1">
        Graduates from Baliuag University College of Information Technology
        Education embark on diverse career paths within the expansive realm of
        technology. Opportunities abound in fields such as application and game
        development, web programming, network administration and security
        management, database administration, service management, software
        engineering, artificial intelligence, machine learning, and data
        science.
      </p>
      <p class="home_p1">
        Explore our range of IT programs to acquire practical knowledge and hone
        critical thinking skills essential for success in the dynamic IT
        landscape. Our curriculum strikes a balance between theoretical insights
        and hands-on exploration, empowering students to navigate complex
        computing environments with confidence.
      </p>
    </div>
    <img class="logo2 logo2nd" src="/assets/cite_logo1.png" alt="Cite Logo" />
  </div>

  <div class="home_wrapper">
    <img class="logo2" src="/assets/cite_logo1.png" alt="Cite Logo" />
    <div class="p1_home">
      <p class="home_p1">
        The ever-expanding realm of Information Technology (IT) significantly
        impacts all aspects of human existence. From educational pursuits to
        professional endeavors and social interactions, technology plays a
        pivotal role in shaping our daily lives.
      </p>
      <p class="home_p1">
        Graduates from Baliuag University College of Information Technology
        Education are poised for diverse career opportunities in the rapidly
        evolving tech landscape. They excel in fields spanning application and
        game development, web programming, network administration and security
        management, database administration, service management, software
        engineering, artificial intelligence, machine learning, and data
        science.
      </p>
      <p class="home_p1">
        Embrace the opportunity to enroll in our IT programs and acquire
        practical knowledge alongside critical thinking skills essential for
        success in the competitive IT industry. Our programs offer a
        well-rounded approach, balancing theoretical concepts with hands-on
        exploration of cutting-edge technology and computing tools.
      </p>
    </div>
  </div>
</div>
